<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%Python%\python.exe|%Python%\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true">
			</requestFiltering>
		</security>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="hello.app" />
		<add key="PYTHONPATH" value="~/" />
		<add key="WSGI_LOG" value="E:\Temp\oboeqa_web.log" />
		<add key="WSGI_RESTART_FILE_REGEX" value="" />
	</appSettings>
</configuration>